@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
body{ 
    background-color: rgb(196, 244, 255);
    margin:20px;
    height:50%;
    /* background-image: url(img/2023-04-09.jpg); */
    background-attachment: fixed;
    background-size: cover;
}
.disease{
    color:rgb(247, 247, 248);
    background:linear-gradient(red, pink,blue);
    font-size:30px;
    padding:5px;
    text-align:center;
    border-radius: 20px;
    margin:20px;
    text-shadow: 10px 5px 5px black;
    border:10px outset rgb(12, 1, 1);
    font-family: 'Protest Revolution', sans-serif;
    font-weight:200;
    font-variant: small-caps;
    box-shadow: 10px 5px 5px rgb(238, 242, 5);
    transition: 1s;
}
.disease:hover{
    font-size: 40px;
}
.master{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    flex-shrink: .5; 
}

.fever{
    background-color: aqua;
    height:300px;
    width:300px;
    padding:5px;
    border:10px groove bisque;
    text-align:center;
    font-size:20px;
    font-family: cursive;
    color:brown;
    border-radius: 10px;
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
 
}
.fever h3{
    background-color:darkmagenta;
    font-size: 20px;
    color:white;
    border-radius:10px;
}
.fever a{
    text-decoration:none;
    color:red;
}
.fever a:hover{
    color:white;
}
.fever  a:active{
    color:green;
    font-size: 30px;
}


.cough{
    background-color: bisque;
    height:300px;
    width:300px;
    padding:5px;
    border:10px groove bisque;
    text-align:center;
    font-size:20px;
    font-family: cursive;
    color:brown;
    border-radius:10px;
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
    
}
.cough a{
    text-decoration:none;
    color:red;
}
.cough a:hover{
    color:white;
}
.cough  a:active{
    color:green;
    font-size: 30px;
}
.diarrhea{
    background-color: rgb(206, 29, 215);
    height:100%;
    width:300px;
    padding:5px;
    border:10px groove bisque;
    text-align:center;
    font-size:20px;
    font-family: cursive;
    color:brown;
    border-radius:10px;
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
}
.diarrhea a{
    text-decoration:none;
    color:red;
}
.diarrhea a:hover{
    color:white;
}
.diarrhea  a:active{
    color:green;
    font-size: 30px;
}
.diarrhea h3{
    background-color:darkmagenta;
    font-size: 20px;
    color:white;
    border-radius:10px;
}
.allergi{
    background-color:rgb(88, 10, 206);
    height:300px;
    width:300px;
    padding:5px;
    border:10px groove bisque;
    text-align:center;
    font-size:20px;
    font-family: cursive;
    color:rgb(16, 1, 1);
    border-radius:10px;
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
}

.allergi a{
    text-decoration:none;
    color:red;
}
.allergi a:hover{
    color:white;
}
.allergi  a:active{
    color:green;
    font-size: 30px;

}
.allergi h3{
    background-color:darkmagenta;
    font-size: 20px;
    color:white;
    border-radius:10px;
}

.cough h3{
    background-color:darkmagenta;
    font-size: 20px;
    color:white;
    border-radius:10px;
}


.gastric{
    background-color: rgb(203, 235, 19);
    height:300px;
    width:300px;
    padding:5px;
    padding-top: 15px;
    border:10px groove bisque;
    text-align:center;
    font-size:20px;
    font-family: cursive;
    color:brown;
    border-radius:10px;
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
    
}
.gastric h3{
    background-color:darkmagenta;
    font-size: 20px;
    color:white;
    border-radius:10px;
}
.gastric a{
    text-decoration: none;
    color:red;
}
.gastric a:hover{
    color:white;
}
.gastric  a:active{
    color:green;
    font-size: 30px;
}
.acute{
    background-color: rgb(19, 152, 235);
    height:300px;
    width:300px;
    padding:5px;
    padding-top: 15px;
    border:10px groove bisque;
    text-align:center;
    font-size:20px;
    font-family: cursive;
    color:brown;
    border-radius:10px;
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
    
}
.acute h3{
    background-color:darkmagenta;
    font-size: 20px;
    color:white;
    border-radius:10px;
}
.acute a{
    text-decoration: none;
    color:red;
}
.acute a:hover{
    color:white;
}
.acute  a:active{
    color:green;
    font-size: 30px;
}
.joint{
    background-color:thistle;
    height:300px;
    width:300px;
    padding:5px;
    border:10px groove bisque;
    text-align:center;
    font-size:20px;
    font-family: cursive;
    color:brown;
    border-radius:10px;
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
}
.joint h3{
    color:white;
    background-color: darkmagenta;
    font-size:25px;
    border-radius:10px;
}
.joint a{
    text-decoration: none;
    color:red;
}
.joint a:hover{
    color:white;

}
.joint a:active{
    color:green;
    font-size: 30px;
}
.scabies{
    background-color:lightskyblue;
    height:300px;
    width:300px;
    padding:5px;
    text-align:center;
    font-size:20px;
    font-family:cursive;
    color:brown;
    border-radius:10px;
    border:10px groove bisque;
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
}
.scabies h3{
    color:white;
    background-color: darkmagenta;
    font-size:25px;
    border-radius:10px;

}
.scabies a{
    text-decoration: none;
    color:red;
}
.scabies a:hover{
    color:white;
}
.scabies a:active{
    color:green;
    font-size: 30px;
}
.typhoid{
    background-color:rgb(21, 235, 247);
    height:300px;
    width:300px;
    padding:5px;
    text-align:center;
    font-size:20px;
    font-family:cursive;
    color:brown;
    border-radius:10px;
    border:10px groove bisque;
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
}
   

.typhoid h3{
    color:white;
    background-color: darkmagenta;
    font-size:25px;
    border-radius:10px;

}
.typhoid a{
    text-decoration: none;
    color:red;
}
.typhoid a:hover{
    color:white;
}
.typhoid a:active{
    color:green;
    font-size: 30px;
}
.head{
    background-color:rgb(227, 209, 9);
    height:300px;
    width:300px;
    padding:5px;
    text-align:center;
    font-size:20px;
    font-family:cursive;
    color:brown;
    border-radius:10px;
    border:10px groove bisque;
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
}
.head h3{
    color:white;
    background-color: darkmagenta;
    font-size:25px;
    border-radius:10px;
 
}
.head a{
    text-decoration: none;
    color:red;
}
.head a:hover{
    color:white;
}
.head a:active{
    color:green;
    font-size: 30px;
}
.sore{
    background-color:#191970;;
    height:300px;
    width:300px;
    padding:5px;
    text-align:center;
    font-size:20px;
    font-family:cursive;
    color:brown;
    border-radius:10px;
    border:10px groove bisque; 
    box-shadow:5px 5px 5px black;
    margin-bottom: 5px;
}
.sore h3{
    color:white;
    background-color: darkmagenta;
    font-size:25px;
    border-radius:10px; 
}
.sore a{
    text-decoration: none;
    color:red;
}
.sore a:hover{
    color:white;
}
.sore a:active{
    color:green;
    font-size: 30px;
}
.doctor h3{
    background-color: black;
    font-size: 35px;
    font-family:'Protest Revolution', sans-serif;
    border:5px solid rgb(121, 30, 30);
    border-radius:20px;
    padding:10px;
    text-shadow: 10px 5px 5px aqua;
    text-align: center;
    color:white;
    box-shadow: 7px 4px 4px red ;
    transition: .3s;
}
.doctor h3:hover{
    filter:brightness(200%);
   transform:scale(1.04) rotate(2deg);
}
.table{
    border:2px solid rgb(217, 13, 13);
    overflow-x: auto;
 
}
.table th,td{
    border:2px solid gray;
    padding:5px 10px;
    width:100%;
    border-collapse: collapse;
}
th{
    background-color:blueviolet;
    font-size:20px;
    color:white;
}
td{
    background-color: rgb(60, 243, 28);
    height:30px;


}
tr:hover th{
    background-color:red ;
    transition: .5s;
}
tr:hover td{
    background-color: fuchsia;
    transition: .5s;
}
h5{
    text-align:right;
    font-size:20px;
    color:tomato;
}
span {
    color:rgb(250, 250, 247);
    font-family: 'Protest Revolution', sans-serif;
    font-weight:200;
    font-variant: small-caps;
    transition:1s ;
    display: inline-block;
    background-color: midnightblue;
}
span:hover{
    filter:brightness(200%);
    font-size: 30px;
}